body {
    color: rgb(241, 240, 240);
    background-color: rgb(150, 108, 143);
    font-family: 'Times New Roman', Times, serif;
}

ui {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(194, 16, 164);
}

.center {
    text-align: center;
}

footer img{
    width: 40px;
    height: 40px;
    border: none;
}

footer {
    display: flex;
    justify-content: center;
}

.container {

    padding: 0px 50px;
}

nav a:hover {
    color:aqua
}

section img {
    width: 450px;
}

h1 img {
    width: 40px;
    height: 40px;
    border: none;
}

  img {
        text-align: center;
        width: 500px;
        border-radius: 11%;
        border-style: groove;
        border-color: rgb(250, 4, 135);
    }
